Repository voxpupuli/puppet-posix_acl, pull requests merged in 2020-01, with the labels that each got.

#72 modulesync 2.10.1
  .msync.yml
  .rubocop.yml
  .travis.yml
  CONTRIBUTING.md
  Gemfile
  Rakefile
  lib/puppet/provider/posix_acl/posixacl.rb
  lib/puppet/type/posix_acl.rb
  spec/spec_helper.rb
Labels: modulesync

#74 fix comparing permissions when they have a mix of upper- and lower-ca…
  lib/puppet/provider/posix_acl/posixacl.rb
  lib/puppet/type/posix_acl.rb
Labels: bug

#76 modulesync 2.10.1
  .github/CONTRIBUTING.md
  .rubocop.yml
  Gemfile
  lib/puppet/provider/posix_acl/posixacl.rb
  lib/puppet/type/posix_acl.rb
Labels: modulesync

#77 release 1.0.1
  CHANGELOG.md
Labels: skip-changelog
