Repository voxpupuli/puppet-posix_acl, pull requests merged in 2022-01, with the labels that each got.

#97 modulesync 5.1.0 / Drop EoL Puppet 5 support
  .msync.yml
  .puppet-lint.rc
  Gemfile
  Rakefile
  lib/puppet/provider/posix_acl/genericacl.rb
  lib/puppet/provider/posix_acl/posixacl.rb
  lib/puppet/type/posix_acl.rb
  metadata.json
  spec/spec_helper.rb
  spec/unit/puppet/provider/posixacl_spec.rb
  spec/unit/puppet/type/acl_spec.rb
Labels: backwards-incompatible

#100 Drop EoL Debian 9 support
  metadata.json
Labels: backwards-incompatible

#93 Implement handling of missing files
  README.md
  lib/puppet/provider/posix_acl/posixacl.rb
  lib/puppet/type/posix_acl.rb
  spec/unit/puppet/type/acl_spec.rb
Labels: enhancement

#105 Fix typo in documentation
  lib/puppet/type/posix_acl.rb
Labels: docs

#107 Properly handle frozen strings
  lib/puppet/type/posix_acl.rb
  spec/acceptance/basic_posix_acl_spec.rb
  spec/acceptance/requirements_spec.rb
  spec/unit/puppet/type/acl_spec.rb
Labels: bug

#108 dont set ACLs if there are no ACLs to change
  lib/puppet/provider/posix_acl/posixacl.rb
  spec/acceptance/updating_posix_acl_spec.rb
Labels: bug

#114 Release 2.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
